extends layout.pug
block content
    h2=game.gameName
    p Released: #{game.releaseYear}
    h3 Platforms
    each platform in platforms
        p= platform.platform
    h3 Add a review
    each error in errors
        p=error
    form(action=`/games/${game.id}/reviews` method="post")
        label(for="review") Review
        textarea(name="review", cols="30", rows="10")
        label(for="rating") Rating
        input(type="number" name="rating")
        button Create Review
    h3 Reviews
    each review in reviews
        p Review: #{review.review}
        div Rating: #{review.rating}
        div Reviewed on: #{review.createdAt}